form{
    margin-top:20px;
    min-height:300px;
    width:700px;
}
.avatarImage{
    margin:0 auto;
     width:170px;
     height:170px;
     display: block;
      border-radius:100%;
     
}
.avatar{
    width:100px;
    height:100px;
    border-radius:100%;
}
.validation_alret{
    position: absolute;
    top:0px;
    left: calc(100% + 12px);
    min-width:200px;
    display: block;
    min-height: 20px;
    text-align: top;
    padding:5px;
    opacity: 0.7;

}  
input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid forestgreen 2px;}


legend{
    margin-bottom: 50px;
}
.form-group input{
    height:40px;
    margin-bottom:7px;
}

.modal-footer{
 margin-top:20px;
 
}