<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <form class="form-horizontal well" #form="ngForm">
            <legend>
                <div id="avatar_wrapper">
                        <img *ngIf="!editingUser.avatar" class="avatarImage" src="assets/default_avatar.png">
                        <img *ngIf="editingUser.avatar" class="avatarImage" src="{{editingUser.avatar}}">
                    </div>
                <div>Edit user information (id:{{editingUser.id}})</div>
            </legend>
            

            <div class="form-group">
                <label for="avatar" class="col-lg-2 control-label">Avatar</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control " id="avatar" name="avatar" 
                     required [(ngModel)]="editingUser.avatar" #avatar="ngModel">
                    <div *ngIf="!avatar.valid && avatar.touched" class=" validation_alret alert alert-danger">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="name" name="name" 
                     required [(ngModel)]="editingUser.first_name" #name="ngModel">
                    <div *ngIf="!name.valid && name.touched" class="validation_alret alert alert-danger">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastname" class="col-lg-2 control-label">Lastname</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="lastname" name="lastname"
                     required [(ngModel)]="editingUser.last_name"  #last_name="ngModel">
                    <div *ngIf="!last_name.valid && last_name.touched" class="validation_alret alert alert-danger">
                        This field is required
                    </div>
                </div>
            </div>
            <!-- <label for="name">Name: </label>
            <input id="name" name="name" class="form-control" [(ngModel)]="User.first_name"> -->
            <!-- <input name="lastname" [(ngModel)]="User.last_name"> -->
        <div class="modal-footer">
        <button class="btn btn-success" [disabled]="!form.valid" (click)="save()">Save changes</button>
        <button class="btn btn-primary" (click)="back()">Back to users list</button>
        </div>
        </form>
        
    </div>
</div>



