<!-- - - - - - - - - - -  table - - - - - - - - - -  -->
<div class="container">

  <table class="table table-hover ">
    <thead>
      <tr>
        <th class="col-lg-1">
          <div class="title" (click)="sortByColumn('id')">ID
            <span class="icon" [ngClass]="{'activeColumn':sortedColumn=='id'}">
              <i *ngIf="sortByAscending.id==1" class="fa fa-sort-asc" aria-hidden="true"></i>
              <i *ngIf="sortByAscending.id==-1" class="fa fa-sort-desc" aria-hidden="true"></i>  
             </span>
          </div>
        </th>
        <th class="col-lg-1.5">Avatar</th>
        <th class="col-lg-4">
          <div class="title" (click)="sortByColumn('first_name')">
            Name
            <span class="icon" [ngClass]="{'activeColumn':sortedColumn=='first_name'}">
              <i *ngIf="sortByAscending.first_name==1" class="fa fa-sort-asc" aria-hidden="true"></i>
              <i *ngIf="sortByAscending.first_name==-1" class="fa fa-sort-desc" aria-hidden="true"></i>  
             </span>
          </div>
        </th>

        <th class="col-lg-4">
          <div class="title" (click)="sortByColumn('last_name')">Last name
            <span class="icon" [ngClass]="{'activeColumn':sortedColumn=='last_name'}">
              <i *ngIf="sortByAscending.last_name==1" class="fa fa-sort-asc" aria-hidden="true"></i>
              <i *ngIf="sortByAscending.last_name==-1" class="fa fa-sort-desc" aria-hidden="true"></i>  
             </span>
          </div>
        </th>

        <th class="col-lg-2">
          <a class="btn btn-default" id="newUserbtn" data-toggle="modal" data-target="#UserAddForm">
            <!--(click)='addUser()'>    -->
            Add new user
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" class="active" *ngFor="let user of userList">
        <td>{{user.id}}</td>
        <td><img class="avatar" src="{{user.avatar}}"></td>
        <td>{{user.first_name | capitalize}} </td>
        <td>{{user.last_name | capitalize}}</td>
        <td>
          <button class="btn btn-success editBtn" (click)="editUser(user)"> Edit</button>
          <button class="btn btn-danger deleteBtn" data-toggle="modal" data-target="#deleteConfirmForm" (click)="SelectdeletingUser(user)"> 
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- - - - - - - - - - - - - - - - - pagination - - - - - - - - - -  -->
  <div *ngIf="total_pages">
    <app-pagination [total_pages]="total_pages"></app-pagination>
  </div>
  <!-- - - - - - - - - - -  Modal - - - - - - - - - -  -->
  <app-delete-confirm (isDeleted)="deleteUser()" [user]="deletingUser"></app-delete-confirm>
  <app-add-user (isSaved)='addUser($event)'></app-add-user>

  