Table{
    font-size:18px;
    margin-top:30px;
}
Table  tbody  tr  td {
     vertical-align: middle;
}

table thead tr:first-child{
    background-color: #E1DFDF;
}
td:first-child,th:first-child{
    text-align: center;
}
a, .title{cursor: pointer;}

#UserAddForm{
    margin-top: 40px;
}
.avatar{
    width:100px;
    height:100px;
    border-radius:100%;
}
#newUserbtn{
  background-color:#E1DFDF;
  border: 2px solid #44AE2C;
}
.editBtn{
    width:100px;
    border-radius:10px;
}
.deleteBtn i{
     line-height: 5px;
     border-radius: 10px; 
}
.icon{
    color:gray;
}
.activeColumn{
    color:black;
}
