 <div class="modal fade" id="deleteConfirmForm" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Do you want to delete this user?</h4>
            </div>
            <div class="modal-body">
                <img src="{{user.avatar}}" class="avatarImage">
                <h1>({{user.id}})  {{user.first_name| capitalize}}  {{user.last_name| capitalize}}  </h1>
                
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" (click)="confirmDeleting()" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div> 