<!-- - - - - - - - - - - - - - - - - pagination - - - - - - - - - -  -->
  <ul class="pageing pager">
    
    <li><button [disabled]="this.userService.getCurrentPage()==1" (click)="changePage(this.userService.getCurrentPage()-1)">&laquo;</button></li>
    <li *ngFor="let page of pages"  (click)="changePage(page)" [ngClass]="{'activePage':page==this.userService.getCurrentPage()}"  >{{page}}</li>
    <li><button [disabled]="this.userService.getCurrentPage()==pages.length" (click)="changePage(this.userService.getCurrentPage()+1)">&raquo;</button></li>
  </ul>
