.activePage{
    color:#6DBE4F !important;
    border-bottom: 3px solid #6DBE4F;
}
.pageing{
    margin: 0 auto;
    display: block;
}

.pageing li{
    display: inline-block;
    color:gray;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    width:3%;
    margin:0 .5%;
    text-align: center;
     
}
.pageing li button{
    /* background-color:none; */
    background: none;
    border:none;

}
.pageing button[disabled]{
    cursor: not-allowed;
}