.alert{
  margin-bottom:0px;
}

#logo{
  width:170px;
  margin:50px auto;
  display: block;
}
legend{
  text-align: center;
  color:#9C9C9C;
}

.logedin{
padding:10px 0;

  border-radius: 7px;  
  border:none;
  margin: 0 auto; 

  width:40%;
}

.submit  {
padding:10px 0;
  width: 60%;
  display: block;
  border-radius: 7px;  
  border:none;
  margin: 0 auto; 
}

.submit[disabled]{
  background-color:#939493;
}
.submit[disabled]:hover{
  cursor: not-allowed;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}


.validation_alret{
    position: absolute;
    top:0px;
    left: calc(100% + 12px);
    min-width:200px;
    display: block;
    min-height: 20px;
    text-align: top;
    padding:5px;

}
.form-group label{
  color:#4F4F4F;
}
.form-control{
  color:#4F4F4F;
  height:40px;
  border-radius: 10px;
  background-color:#F3F3F3;
  border : none;
  opacity: 0.6;
}
.form-control:focus{
  opacity: 1;
  color:#000;
  background-color:#FFF;
}