<div class="container">
  <div class="col-lg-5 col-lg-offset-3">

    <img src="assets/logo.png" alt="logo" id='logo'>

    <form class="form-horizontal" [formGroup]="loginForm">
      <fieldset *ngIf="!this.authService.token">
        <legend>Login to Your Account</legend>

        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" validateEmail required formControlName="email">
            <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="validation_alret alert alert-danger">
              <div *ngIf="loginForm.get('email').errors.required">This field is required</div>
              <div *ngIf="loginForm.get('email').errors.validateEmail && !loginForm.get('email').errors.required">
                Email must be in the format example@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required validatePassword name="password"
              formControlName="password">
            <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="validation_alret alert alert-danger">
              <div *ngIf="loginForm.get('password').errors.required">This field is required</div>
              <div *ngIf="loginForm.get('password').errors.validatePassword && !loginForm.get('password').errors.required">
                Password Must contain upper and lower case letters, one number or one of the following characters
                <p> @ # $ % ^ & + = _ \ -</div>

            </div>

          </div>
        </div>

        <!-- <div class="form-group"> -->
        <div class="col-lg-10 col-lg-offset-2">

          <input type="submit" class="btn btn-success submit" [disabled]="loginForm.invalid" (click)="submitForm()" value="Login">
        </div>
        <!-- </div> -->
      </fieldset>

      <fieldset *ngIf="this.authService.token">
        <legend>You are already loged in</legend>
        <div class="col-lg-10 col-lg-offset-2">
         
           
             <input type="button" class="btn btn-success  logedin" value="Logout" (click)="logout()">
          <input type="button" class="btn btn-primary  logedin" value="Go to dashboard" (click)="goToDashboard()"> 
          </div>
      </fieldset>
    </form>
  </div>
</div>