<div class="panel panel-success">
  <div class="panel-heading">
    <div class="col-lg-offset-10">
      <span>{{authService.loginEmail}}</span>
      <button class="btn btn-success" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>