.avatarImage{
    margin:0 auto;
     width:170px;
     height:170px;
     display: block;
      border-radius:100%;
     
}

.validation_alret{
    position: absolute;
    top:0px;
    left: calc(100% + 12px);
    min-width:200px;
    display: block;
    min-height: 20px;
    text-align: top;
    padding:5px;
    opacity: 0.7;

}  

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid forestgreen 2px;}

#avatar_wrapper{

    width:700px;
    height:200px;

}
.modal-dialog{
    width:800px;
}
.form-group{
    width:700px;
    margin-bottom:20px;
}

.form-group input{
    height:40px;
}

.btn.btn-success{
    width:100px;
}