<div class="modal fade" id="UserAddForm" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">Add new user id:{{id}}</h4>
            </div>
            <div class="modal-body">
                <form name="addForm" class="form-horizontal" #form="ngForm">

                    <div id="avatar_wrapper">
                        <img *ngIf="!newUser.avatar" class="avatarImage" src="assets/default_avatar.png">
                        <img *ngIf="newUser.avatar" class="avatarImage" src="{{newUser.avatar}}">
                    </div>
                    <div class="form-group">
                        <label for="avatar" class="col-lg-2 control-label">Avatar url</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="avatar" name="avatar" required [(ngModel)]="newUser.avatar" #avatar="ngModel">
                            <div *ngIf="!avatar.valid && avatar.touched" class="validation_alret alert alert-danger">
                                This field is required
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="newUser.first_name" #name="ngModel">
                            <p *ngIf="!name.valid && name.touched" class="validation_alret alert alert-danger">
                                This field is required
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-lg-2 control-label">Lastname</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="lastname" name="lastname" required [(ngModel)]="newUser.last_name" #last_name="ngModel">
                            <div *ngIf="!last_name.valid && last_name.touched" class="validation_alret alert alert-danger">
                                This field is required
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer"> 
                        <input type="submit" [disabled]="!form.valid && form.touched" data-dismiss="modal" (click)="save(); form.reset()" class="btn btn-success"
                            value="Save">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="form.reset()">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>