/* You can add global styles to this file, and also import other style files */
html,body{
/* box-shadow: inset 3px 3px 3px 3px white;

/* background: radial-gradient(ellipse at center, rgba(191,191,191,1) 0%,rgba(255,255,255,0) 100%); 

 box-shadow: inset 8px 11px 300px -63px rgba(255,255,255,.5);
box-shadow: inset 8px 11px 2-8px 11px rgba(255,255,255,.5); */
background-color: rgba(200,200,200,0.4); 
-webkit-box-shadow: inset -5px -8px 300px 200px rgba(255,255,255,1);
-moz-box-shadow: inset -5px -8px 300px 200px rgba(255,255,255,1);
box-shadow: inset -5px -8px 300px 200px rgba(255,255,255,1);
/* background-color: gray; */
position: fixed;
top:0;
left:0;
height:100%;
width:100%;
overflow: auto;
}